
.picture,.add-btn{
	position: relative;
	display: inline-block;
	background: #D0EEFF;
	border: 1px solid #99D3F5;
	border-radius: pxTorem(4);
	padding: pxTorem(4) pxTorem(30);
	overflow: hidden;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	line-height: 5vh;
}
.picture {
		margin-top: 50vh;
		margin-left: 40vw;
}
.picture input {
    position: absolute;
    /*font-size: 100px;*/
		padding: pxTorem(4) pxTorem(30);
		line-height: 5vh;
    right: 0;
    top: 0;
    opacity: 0;
}
.picture:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.add-btn{
	margin-top: 2vh;
	margin-left: 80vw;
}
