
.picture{
	position: relative;
	// display: inline-block;
	background: #D0EEFF;
	border: 2px dashed #99D3F5;
	border-radius: pxTorem(4);
	overflow: hidden;
	color: #1E88C7;
	text-decoration: none;
	text-indent: 0;
	line-height: 5vh;
	margin: 0 auto;
	width: 80%;
	margin-top: 20%;
	height: 80vh;
}
.picture input {
    position: absolute;
		height: 80vh;
		top:0px;
		width: 100%;
    opacity: 0;
}
.picture span{
	margin: 0 auto;
	display: block;
	font-size: 22px;
	text-align: center;
	margin-top: 40vh;
}
.picture:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.img-group{
	margin: 0 auto;
	width: 80%;
	height: 80vh;
	margin-top: 20%;
	padding: pxTorem(30);
	border: 2px dashed #99D3F5;
	overflow: hidden;
	display: none;
}

.img-group li {
	margin-top: pxTorem(20);
}
.img-group li img{
	margin: 0 auto;
}
