/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*variables*/
@import "variables";
/*reboot*/
@import "normalize";
/*mixins*/
@import "mixins";


/*base*/
body{font:12px/1.5 "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;}
div{display: block;}

.container{
  @include make-container();
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;//和footer高度一样 保持footer始终在页面最底部
}

.container-full{
  width: 100%;
}
.footer{
  width: 100%;
  min-height: 30px;
  @include make-container()
}


.header{@include clearfix();}

.top-url{float: right;}

.top-url > ul > li{
  list-style-type: none;
  float: left;
}

.top-url > ul >li > a{
  //text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: $gray-dark;
  padding:10px;
  &:hover{
    text-decoration: underline;
    color: $brand-primary;
  }
}

input,button,textarea,form{
  border:none;
}
.center{
  text-align: center;
}
.baidu-img > img{
  width: pxTorem(400);
}

.search-input{
  padding:10px;
}


span.input-span{
  width: pxTorem(700);
  padding:10px 0px;
  border:1px solid #aaa;
  &:hover{
    border:1px solid $brand-primary;
    border-right: none;
  }
  &:focus{borer:1px solid $brand-primary;}

}
.search-btn{
  display: inline-block;
  font-weight: bold;
  border-top: none;
  font-size: $font-size-root;
  line-height: pxTorem(33);
  padding:0px 12px;
  background-color: #0275d8;
  color: #fff;
}

.input-btn{
  padding: 10px 10px 10px 10px;
  border:1px solid #0275d8;
  background-color: #0275d8;
  color: #fff;
}

.search-input {
  display: inline-block;
  width: pxTorem(700);
  border:none;
  &:focus{
    border:0px;}
}
/*天涯首页*/
.tian-right,.tian-left{
  display: inline-block;
}
.tian-left{
  width: pxTorem(300);
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top:0px;
  bottom:pxTorem(40);
}
.tian-right{
  @include  clearfix();
  margin-left: pxTorem(300);
}
/*--结束--*/
// maotop
.top-sticky{
  background-color: #c60a0a;
  color:$kbd-color;
  text-align: center;
  font-size: 18px;
  fieldset{
    display: inline-block;
    margin: 20px;
    width: 60%;
    position: relative;
    border: 0;
    padding:0;
    .left{
      line-height: 34px;
      margin-right: 40px;
    }

  .left,.search,button{
      display: inline-block;
      float: left;
      border: 0;
    }
    button{
      height: 34px;
      padding:0 10px;
      background-color: $brand-success;
    }
    .search{
      width: 65%;
    }
    .search input{
      padding:0 5px;
      height: 34px;
      width: 100%;
      color:$brand-info;
    }
  }
}
